<h1>Editing <%= @camp.city %></h1>
<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p><%= error %></p>
	<% end %>
<% end %>
<form action="/camps/<%= @camp.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
	<p><label>Branch: </label>
	<input type="text" name="camp[branch]" value="<%= @camp.branch %>"></p>
	<p><label>Street: </label>
	<input type="text" name="camp[street]" value="<%= @camp.street %>"></p>
	<p><label>City: </label>
	<input type="text" name="camp[city]" value="<%= @camp.city %>"></p>
	<p><label>State: </label>
	<input type="text" name="camp[state]" value="<%= @camp.state %>"></p>
	<input type="submit" name="submit" value="Update Camp">
</form>

<%= link_to "Back", root_path%>
