<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h1>Listing <%= @camps.count %> Dojos</h1>
<% if flash[:success] %>
    <p><%= flash[:success] %></p>
<% end %>
<table>
    <tr>
        <th>Coding Dojo Branch</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Actions</th>
    </tr>
    <% @camps.each do |camp| %>
    <tr>
        <td><%= camp.branch %></td>
        <td><%= camp.street %></td>
        <td><%= camp.city %></td>
        <td><%= camp.state %></td>
        <td>
            <%= link_to "Show", camp %>
            <%= link_to "Edit", edit_camp_path(camp) %>
            <%= link_to "Delete", camp, data: { method: :delete, confirm: "Are you sure?" } %>
        </td>
    </tr>
    <% end %>
</table>

<%= link_to "New Dojo", new_camp_path %>