<h1>Enter new Dojo</h1>
<% if flash[:errors] %>
    <%= flash[:errors].each do |error| %>
        <p><%= error %></p>
    <% end %>
<% end %>
<form action="/camps" method="POST">
    <input type="hidden" name="authenticity_token" value ="<%= form_authenticity_token %>">
    <p><label>Branch: </label></p>
    <input type="text" name="camp[branch]" value="<%= @camp.branch %>">
    <p><label>Street: </label></p>
    <input type="text" name="camp[street]" value="<%= @camp.street %>">
    <p><label>City: </label></p>
    <input type="text" name="camp[city]" value="<%= @camp.city %>">
    <p><label>State: </label></p>
    <input type="text" name="camp[state]" value="<%= @camp.state %>">
    <p><input type="submit" name="submit" value="Create"></p>
</form>

<%= link_to "Back", root_path %>

